/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2025/07/A-serene-landscape-with-Pokemon-in-their-natural-habitat-perfect-as-a-HD-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}