.cv-container {
  border-top: 4px solid rgb(45, 78, 168);
  transition: all .3s ease;
}

ul li:hover {
  color: rgb(47, 57, 87);
  font-weight: bolder;
}

.cv-container:hover {
  transform: translateX(10px);
}
